In [0]:
import pandas as pd
import numpy as np

In [2]:
print("Hello Capstone Project Course!")

Hello Capstone Project Course!

Use the Notebook to build the code to scrape the following Wikipedia page, https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M, in order to obtain the data that is in the table of postal codes and to transform the data into a pandas dataframe like the one shown below:

In [0]:
import requests
from bs4 import BeautifulSoup

In [0]:
target = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
req = requests.get(url = target)
html = req.text
bf = BeautifulSoup(html,'lxml')
bf.find_all("tbody") 

main = bf.find_all('table',class_ = "wikitable sortable") 
bf_tr = BeautifulSoup(str(main),'lxml')
str_tr = bf_tr.find_all('tr')
Postcode = []
Borough = []
Neighbourhood = [] 
for mm in str_tr[1:]:
  Postcode.append(BeautifulSoup(str(mm),'lxml').find_all('td')[0].get_text())
  Borough.append(BeautifulSoup(str(mm),'lxml').find_all('td')[1].get_text())
  Neighbourhood.append(BeautifulSoup(str(mm),'lxml').find_all('td')[2].get_text().replace("\n",""))

*   The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood
*   Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.
*   More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11 in the above table.
*   If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.
*   Clean your Notebook and add Markdown cells to explain your work and any assumptions you are making.
*   In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe.

In [0]:
pan = {"Postcode":Postcode,"Borough":Borough,"Neighbourhood":Neighbourhood}
df = pd.DataFrame(pan)
df = df.drop(df[df["Borough"] == "Not assigned"].index)
df["Neighbourhood"] = df.apply((lambda x: x["Neighbourhood"] if x["Neighbourhood"] != "Not assigned" else x["Borough"]),axis = 1)

In [0]:
df_new = df.groupby(["Postcode",'Borough']).count()

In [0]:
df_new["Postcode"] = " "
df_new["Borough"] = " "
df_new["Neighbourhood"] = " "
for pos,bor in df_new.index:
  df_new["Postcode"].loc[(pos,bor)] = pos
  df_new["Borough"].loc[(pos,bor)] = bor
  df_new["Neighbourhood"].loc[(pos,bor)] = ",".join(list(df["Neighbourhood"][df["Postcode"]==pos]))

In [0]:
df_new = df_new.reset_index(drop=True)

In [114]:
df_new

                                         Neighbourhood Postcode      Borough
0                                        Rouge,Malvern      M1B  Scarborough
1                 Highland Creek,Rouge Hill,Port Union      M1C  Scarborough
2                      Guildwood,Morningside,West Hill      M1E  Scarborough
3                                               Woburn      M1G  Scarborough
4                                            Cedarbrae      M1H  Scarborough
..                                                 ...      ...          ...
98                                              Weston      M9N         York
99                                           Westmount      M9P    Etobicoke
100  Kingsview Village,Martin Grove Gardens,Richvie...      M9R    Etobicoke
101  Albion Gardens,Beaumond Heights,Humbergate,Jam...      M9V    Etobicoke
102                                          Northwest      M9W    Etobicoke

[103 rows x 3 columns]